<div class="row" class="white">
  <div class="col-xs-6 col-xs-offset-3 white">
    <div class="header">
      <h1 class="bigFont white">About Books</h1>
    </div>
    <div class="mediumFont white">
      <p>Books has been developed by <a href="http://nicolaferracin.github.io/" target="_new"><u>Nicola Ferracin</u></a> as a project for FreeCodeCamp.</p>
      <p>This is a Single Page Application built with the MEAN stack, using Passport.js for authentication, Angular routing for the addresses and Express routing for the API</p>
    </div>
  </div>
</div>
