/* nav bar */
.navbar-default {
  margin-top: 10px;
  background: none;
  border: none;
}

.navbar ul li {
  margin-right: 5px;
}

/* avoid links turning blue */
.view a {
  color: inherit;
  text-decoration: inherit;
}

.view a:hover {
  color: inherit;
  text-decoration: inherit;
}

.view a:visited {
  color: inherit;
  text-decoration: inherit;
}

/* body */
body {
  background-image: './img/bg.jpg';
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* body opacity */
body:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.header h1 {
  font-size: 500%;
  margin: 50px 0 50px 0;
}

.border {
  border: 3px solid;
}

.mediumFont {
  font-size: 150%;
}

.bigFont {
  font-size: 250%;
}

.black {
  color: black !important;
}

.white {
  color: white !important;
}

.bg-white {
  background-color: white;
}

.red {
  color: #DD4747 !important;
}

.bg-red {

    background-color: #DD4747;
}

.blue {
  color: #118DF0 !important;
}

.bg-blue {

    background-color: #118DF0;
}

.green {
  color: green !important;
}

.bg-green {

    background-color: green;
}

.space {
  margin-left: 100px;
}

#loggedInHome {
  margin-bottom: 50px;
}

.margin-top-15 {
  margin-top: 15px;
}

.float-right {
  float: right;
}

* {
  border-radius: 0 !important;
}
