/* nav bar */
.navbar-default {
  margin-top: 10px;
  background: none;
  border: none;
}

.navbar ul li {
  margin-right: 5px;
}

/* avoid links turning blue */
.view a {
  color: inherit;
  text-decoration: inherit;
}

.view a:hover {
  color: inherit;
  text-decoration: inherit;
}

.view a:visited {
  color: inherit;
  text-decoration: inherit;
}

/* body */
body {
  background-image: './img/bg.jpg';
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* body opacity */
body:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.header h1 {
  font-size: 500%;
  margin: 50px 0 50px 0;
}

.border {
  border: 3px solid;
}

.border-thin {
  border: 2px solid;
}

.mediumFont {
  font-size: 150%;
}

.bigFont {
  font-size: 250%;
}

.black {
  color: black !important;
}

.white {
  color: white !important;
}

.bg-white {
  background-color: white;
}

.red {
  color: #DD4747 !important;
}

.bg-red {

  background-color: #DD4747;
}

.blue {
  color: #118DF0 !important;
}

.bg-blue {

  background-color: #118DF0;
}

.green {
  color: #6DC995 !important;
}

.bg-green {

  background-color: #6DC995;
}

.space {
  margin-left: 100px;
}

#loggedInHome {
  margin-bottom: 50px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.panel-body img {
  margin-right: 20px;
}


#removeButton {
  position: relative;
  top: 50px;
  left: -100px;
}

.opacity {
  opacity: 0.8;
}

* {
  border-radius: 0 !important;
}

.book {
  display: inline-block;
  width: 132px;
  height: auto;
  position: relative;
  margin: 0 10px 20px 0;
}

.book img {
  border: 2px solid;
}

.book p {
  left: 2px;
  width: 128px;
  position: absolute;
  bottom: 10px;
  text-align: left;
  padding-left: 10px;
  background-color: #000;
}

.buttons {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.buttons a {
  display:flex;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  background-color: #000;
}

.book span {
  margin-bottom: 20px;
}

#searchForm {
  margin-bottom: 20px;
}
