/* nav bar */
.navbar-default {
  margin-top: 10px;
  background: none;
  border: none;
}

.border {
  border: 3px solid;
  color: white !important;
  font-size: 150%;
}

.view a {
  color: inherit;
  text-decoration: inherit;
}

.view a:hover {
  color: inherit;
  text-decoration: inherit;
}

.view a:visited {
  color: inherit;
  text-decoration: inherit;
}

/* body */
body {
  background-image: './img/bg.jpg';
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.header h1 {
  font-size: 500%;
  margin: 50px 0 50px 0;
}

.bigFont {
  font-size: 250%;
}

.white {
  color: white;
}
